body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1b1b1b;
}

.calculator{
  position: relative;
  display: grid;

}

.header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: dodgerblue;
  text-align: center;
  border: 1px solid blueviolet;
  padding: 18px;
  position: relative;
  overflow: hidden;
  transition: scale 1s, margin-bottom 1s, color 2.2s, background-color 1.4s;
}

.header::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: blueviolet;
  transition: transform 1.4s;
  transform: translate(-25%, 100%) scale(0);
  z-index: -1;
  border-radius: 50%;
}

.header:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.header:hover {
  color: azure;
  background-color: transparent;
  margin-bottom: 50px;
  scale: 2;
}

.calculator .value{
  grid-column:span 4;
  height: 100px;
  text-align: right;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 18px;
}

.calculator span{
  display: grid;
  width: 60px;
  height: 60px;
  background-color: #292929;
  place-items: center;
  border: 1px solid rgba(0,0,0,0.1);
  color: #fff;
  cursor: pointer;
}

.calculator span.clear{
  grid-column: span 2;
  width: 120px;
  background-color:blueviolet;
}

.calculator span.plus{
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal{
  background-color: dodgerblue;
}

